.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../public_html/media/sprite.svg");
    background-repeat: no-repeat;
    background-size: 3.2em 9.8em;
}

.no-svg .icon:before {
    background-image: url("../public_html/media/sprite.png");
}



  .icon.career-profile:before {
      background-position: 0em 0em;
      width: 3.2em;
      height: 3.25em;
  }




  .icon.experiences:before {
      background-position: 0em -3.3em;
      width: 3.2em;
      height: 3.2051000000000003em;
  }




  .icon.skills-proficiency:before {
      background-position: 0em -6.6em;
      width: 3.2em;
      height: 3.2em;
  }





