:root{
    // Colors
--blue-dark: #020532;
--red: #f7181f;
--body-bg : #f6f6f6;

// Old Colors
--black: #444d58;
--blue-light: #39bbed;
--malachite: #5bba9e;
--peach-light: #f68e71;
--peach: #f16e70;
--pink: #ec1c71;
--white: #fff;

// Resume Specific

--gray-light: #dfdfdf;
--gray: #97aac3;

// font for resume

--body-font: 'Roboto', Arial, Helvetica, sans-serif;
}