{{#if image}}
<img class="profile__image" src="media/{{image}}" alt="{{imageAlt}}" />
{{/if}}
{{#if name}}
<h1 class="profile__name">{{name}}</h1>
{{/if}}
{{#if jobTitle}}
<h3 class="profile__title">{{jobTitle}}</h3>
{{/if}}