<section class="newsletter">
    <h3>Alan, ping me when you come back, please 🙏</h3>
    <p>Hi human, I am taking a break from maintaining this corner of the internet. If I  get some email requests, it might motivate me to bring something bigger/better back.</p>

    <h3>Data Policy</h3>
    <p>I have your email, that's it. I'm not hiding anything or being nefarious.</p>

    <form class="form" id="newsletter">
        <div class="form-wrapper">
            <input id="email" type="email" name="email" placeholder="you@email.com">
            <button type="submit">Sign-Up</button>
        </div>
    </form>
</section>